[data-color-theme = 'main'] {
  background-color: #666;
  color: #fff;
  font-size: 13px;
}

[data-flex-main = 'between'] {
  display: flex;
  justify-content: space-between;
}

[data-active = 'true'] {
  color: red;
}